<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>

<div class="container"">

	<div class="row">
		<div class="col-xs-12">
			<header id="h1">
			<%if(!session.user){%>
			  <span class="pull-right"><a href="/login">Login</a></span>
			<%}else{%>
			  <span class="pull-right"> <i class="fa fa-user"></i> <%=session.user.username%> <a href="/logout">Logout</a></span>
			<%}%>
		
			<h2 class="text-warning">Quiz<span>: el juego de las preguntas</span></h2>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-xs-12">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation">
					<a href="/" class="label label-info">Inicio</a>
				</li>
				<li role="presentation">
					<a href="/quizes" class="label label-info">Preguntas</a>
				</li>
				<li role="presentation">
					<a href="/author" class="label label-info">Créditos</a>
				</li>
				<li role="presentation">
					<a href="/quizes/statistics" class="label label-info">Estadísticas</a>
				</li>
			</ul>
		</div>
		
		<div class="col-md-10 col-xs-12">
			  <section id="s1">
				<% if (errors.length) { %>
				  <div class="alert alert-danger">
					<strong>Corregir errores:</strong><br/>
					<% for (var i in errors) { %>
					   <span> <%= errors[i].message %> </span><br/>
					<% } %>
				  </div>
				<% } %>

				<div><%- body %></div>
			  </section>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			  <footer id="f1">
				<a href="http://es.wikipedia.org/wiki/Quiz">
				  ¿Que es un Quiz?
				</a>
				&nbsp;
				<a href="https://github.com/FernandoLopezPenalver/practica_quiz_node_js" target="_blank">
					Practica en gibhub
				</a>
			  </footer>
		</div>
	</div>
</div>	
  
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>
</body> 
</html>