  <p>
	<div class="alert  <% if (respuesta=='Correcto') {%> alert-success<% } else {%> alert-danger<%}%>">
    <%= respuesta %>
	</div>
	
    <a href="/quizes/<%= quiz.id %>" class="btn btn-primary">
		Volver
	</a>
  </p>
  
