<div class="well">
	<h2>Login</h2>

	<form method='POST' action='/login'>

	  <div class="form-group">
		<label for="login">Login:</label>
		<input type="text" id="login" name="login" size="30" class="form-control"/>
	  </div>

	  <div class="form-group">
		<label for="password">Password:</label><br />
		<input type="password" id="password" name="password" size="30"  class="form-control"/>
	  </div>

	  <div class="actions">
		<button name="commit" type="submit" class="btn btn-primary">
			<i class="fa fa-check"></i>
			Login
		</button>
	  </div>

	</form>
</div>	